/* Component Style */
.dashboard-info-con {
  width: 98%;
  height: 92vh;
  border-radius: 2.375rem;
  background: #f5eef6;
  padding: 30px 20px;
}
.dashboard-info-body {
  overflow: hidden;
  height: 84%;
}
.overflow-panel {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.video-con {
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  border: 3px solid var(--primary-color);
}

.border-cards {
  border-radius: 16px;
  background: #d9d9d9;
  padding: 23px;
  height: 100%;
}
.status-cards {
  height: fit-content;
  padding: 12px 8px;
  border-radius: 16px;
  background: #d9d9d9;
}
.border-cards-info,
.status-cards-info {
  background: #ecebec;
  width: 100%;
  border-radius: 16px;
  padding: 16px;
  height: 100%;
}

.mini-btn {
  border-radius: 4.438rem;
  padding: 0.375rem 1rem;
  background-color: #ffcc17;
  color: #000000;
  outline: none;
  border: none;
  font-family: var(--font-family);
  font-size: 8px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
}

.mini-btn.gray {
  background-color: #b4aeae;
  color: #ffffff;
}

.border-cards-info .task-name {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #4c4c4c;
  -webkit-line-clamp: 2;
}

.border-cards-info .deadline-date {
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #b4aeae;
  margin: unset !important;
}

.border-cards-info .task-review {
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #b4aeae;
  -webkit-line-clamp: 8;
}
.tutor-initials {
  position: relative;
}
.tutor-initials .tutor-name {
  font-family: var(--font-family);
  font-size: 8px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
  background: #f6f6f2;
  padding: 2px;
  box-shadow: 0px 2px 7px 0px #5f0d6c2e;
  border-radius: 8px;
  position: absolute;
  white-space: nowrap;
  right: 20px;
  top: 10px;
}

.mini-tutor-img {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  overflow: hidden;
}

.text_header {
  text-align: center;
  font-family: var(--font-family);
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  color: var(--primary-color);
}

.pic_box {
  height: 208px;
  width: 100%;
  background: rgba(217, 217, 217, 1);
  padding: unset;
  overflow: hidden;
  border-radius: 12px;
}

.pic_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.elite_student h4 {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(37, 37, 37, 1);
}

.elite_student_table table thead tr th {
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(95, 93, 93, 1);
}
.elite_student_table table tbody tr td,
.elite_student_table table tbody tr td h4 {
  font-family: var(--font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(95, 93, 93, 1);
}
.elite_student_table table tbody tr td h4 {
  -webkit-line-clamp: 1;
}
.elite_student_table {
  height: 344px;
  overflow: auto;
}
.elite_student_table table tbody tr {
  background-color: #d9d9d9;
  border: unset;
  border-top: 3px solid rgba(211, 211, 211, 0.5);
  border-bottom: 2px solid rgba(211, 211, 211, 0.5);
}
.elite_student_table .table > thead {
  background: linear-gradient(0deg, #a2a0a0, #a2a0a0),
    linear-gradient(0deg, #c8c8c8, #c8c8c8);
  border-bottom: 1.5px solid #a1a0a0;
}

.gauge_container {
  width: 200px;
  height: 200px;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 50%;
}

.gauge_meter {
  width: 20px;
  height: 20px;
}

.status-cards-info h3 {
  font-family: var(--font-family);
  font-size: 26px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  color: #252525;
  text-align: center;
}

.track_box_1,
.track_box_2 {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.84px;
  background-color: #b4aeae;
  width: fit-content;
  font-family: var(--font-family);
  font-size: 01rem;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #f6f6f2;
}
.track_box_2 {
  color: #b4aeae;
  background-color: #f6f6f2;
}

.facilitator_con {
  background: #d9d9d9;
  width: 100%;
  height: fit-content;
  margin-top: 20px;
  border-radius: 16px;
  padding: 20px;
}
.facilitator_con_header h4 {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  color: #252525;
}

.facilitator_con_track {
  background-color: #fae6fd;
  padding: 6px;
  border-radius: 6px;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #000000;
}

.facilitator_img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}
.facilitator {
  border: 2px solid #5f0d6c;
  padding: 8px;
  border-radius: 4px;
  width: fit-content;
}
.facilitator_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.facilitator_name {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  color: #5f5d5d;
}

@media (min-width: 794px) {
  .new-col-2.col-lg-2 {
    width: 12.66666667% !important;
  }
  .new-col-10.col-lg-10 {
    width: 87.333333% !important;
  }
}
